# Temp files
.*
*.TODO

!.gitignore
!.gitlab-ci.yml
!.gitmodules
!.gometalinter.json
!.golangci.yml

# Binaries
bin
venv
vendor
*.so

# Sublime
*.sublime-project
*.sublime-workspace

# Certificates
*.crt
*.key
*.pem

.artifacts/*
